<app-bandeau>
</app-bandeau>
<div class="container text-center">
  <img src="{{collegue.photo}}" class="img-fluid" alt="Responsive image">
  <div>Pseudo :
    <div>{{collegue.pseudo}}</div>
  </div>
  <table class="table">
    <tr>
      <td>Score :</td>
      <td>{{collegue.score}}</td>
    </tr>
    <tr>
      <td>Nom :</td>
      <td>{{collegue.nom}}</td>
    </tr>
    <tr>
      <td>Prenom :</td>
      <td>{{collegue.prenom}}</td>
    </tr>
    <tr>
      <td>Email :</td>
      <td>{{collegue.email}}</td>
    </tr>
    <tr>
      <td>Adresse :</td>
      <td>{{collegue.adresse}}</td>
    </tr>
  </table>
  <app-avis (change)=traiterScore($event) [estAimer]="estAimer" [estDetestable]="estDetestable"></app-avis>
</div>
