<app-bandeau></app-bandeau>
<div class="container">
  <h2>Ajouter collegue</h2>

  <form class="form-horizontal" (ngSubmit)="submit()">
    <div class="form-group">
      <label class="control-label col-sm-2" for="matricule">Matricule</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="matricule" name="matricule" [(ngModel)]="collegue.matricule">
        <div *ngIf="msgError.matricule != '' " class="alert alert-danger">
          <span>{{msgError.matricule}}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pseudo">Pseudo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="pseudo" name="pseudo" [(ngModel)]="collegue.pseudo">
        <div *ngIf="msgError.pseudo != '' " class="alert alert-danger">
          <span>{{msgError.pseudo}}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="img">URL img</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="img" name="img" [(ngModel)]="collegue.urlImage">
      </div>
    </div>
    <div>
      <div *ngIf="collegue.matricule != '' && collegue.pseudo !=''; else elseBlock">
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </div>
      <ng-template #elseBlock>
        <button type="submit" class="btn btn-danger" disabled="disabled">Ajouter</button>
      </ng-template>
    </div>
    {{collegue.matricule}}
    {{collegue.pseudo}}
  </form>

</div>
